<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
  <title>LMTT.FYI - Not Found</title>
  <link href="/css/style.css" rel="stylesheet">
  <style type="text/css" media="screen">
    @media screen and (max-width: 900px) {
      #content {
        padding: 30px 10px;
      }
    }
  </style>
</head>
<body>
  <div id="container">

    <div id="header" class="">
      <div>
        <h1><a href="/" title="to top page">LMTT.FYI</a></h1>
        <p>Add translation or commentary to a tweet.</p>
      </div>

      <div class="holizontal-items">
        <img id="userAvatar" class="avatar-icon" src="" alt="Avatar for signed in user">
        <button id="authBtn" class="ui-btn" type="button"></button>
      </div>
    </div>
    <div class="notfound">
      <p>Oh No! {{ msg }}...</p>
    </div>
    {{> footer}}
  </div>
</body>
</html>