<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
  <title>LMTT.FYI - Content Policy</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div id="container">
    <div id="header" class="">
      <div>
        <h1><a href="/" title="to top page">LMTT.FYI</a></h1>
        <p>Add translation or commentary to a tweet.</p>
      </div>
      <div class="holizontal-items">
      </div>
    </div>

    <div id="policy">
      <h2>Content Policy</h2>
      <p>lmtt.fyi is a tool to write and share translation or commentary to a Tweet in an open environment. While participating, please keep in mind to show respect to others.</p>
      <h3>Rights</h3>
      <p>You retain your rights to any content you post on lmtt.fyi. It is yours, and it is your responsibility. lmtt.fyi is not responsible for any violation of intellectual property rights such as copywrite infringement.</p>
      <h3>Prohibited content</h3>
      <p>Following content is prohibited on lmtt.fyi if it...</p>
      <ul>
        <li>is illegal</li>
        <li>is malicious and deceptive</li>
        <li>is hate speech</li>
        <li>is harassment, bullying, and threats</li>
        <li>is personal and confidential information</li>
        <li>is child exploitation</li>
        <li>is spam</li>
        <li>is sexually explicit material</li>
        <li>is impersonation</li>
      </ul>
      <h3>Enforcement</h3>
      <p>When admin notice or is reported of any post that falls under prohibited content, the post will be removed without any notice to the author. <br> Additionally, admin may temporally or permanently suspend the account that posts prohibited contents.</p>

      <h3>How to report violation</h3>
      <p>To report content policy violation, please email mariko.kosaka [at] gmail.com with link to the violating post.</p>

    </div>
    {{> footer}}
  </div>
</body>
</html>