<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
  <title>LMTT.FYI - Privacy Policy</title>
</head>
<body>
  <div id="container">
    <div id="header" class="">
      <div>
        <h1><a href="/" title="to top page">LMTT.FYI</a></h1>
        <p>Add translation or commentary to a tweet.</p>
      </div>
      <div class="holizontal-items">
      </div>
    </div>

    <div id="policy">
      <h2>Privacy Policy</h2>
      <p>Hey, you're probably wondering what's going to happen to your data should you read or write a post on lmtt.fyi. Here is a list of things we do with your data.</p>
      <h3>What data do we collect ?</h3>
      <p>If you are just reading posts on lmtt.fyi, we DO NOT collect any personal data.</p>
      <p>When you post something on lmtt.fyi, here are list of information we collect (we use Twitter OAuth).</p>
      <ul>
        <li>Your Twitter user name</li>
        <li>Your Twitter display name</li>
        <li>Your Twitter profile image</li>
        <li>Contents you written on lmtt.fyi</li>
      </ul>
      We do not collect your email address or password, and are not able to post anything to your Twitter account.
      <h3>How will we use your data ?</h3>
      <p>We will NOT ... </p>
      <ul>
        <li>sell or give away your data to third parties</li>
        <li>contact you without your permission</li>
        <li>use your data for any reason other than to assist with making lmtt.fyi a better experience</li>
      </ul>
      <p>We might ... </p>
      <ul class="privacy">
        <li>use your data to perform analysis on site usage</li>
        <li>publish data visualization of the site usage analysis</li>
      </ul>
      <p>Every post on lmtt.fyi is shared as public post. Anyone who has link to your post can see what you wrote. Please see <a href="/contentpolicy" title="link to content policy">Content Policy</a> for more information.</p>
    </div>
    {{> footer}}
  </div>
</body>
</html>